@{
    ViewData["Title"] = "Home Page";


}

@model IntegerChecker.Models.IntegerRead
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    // User Instruction
    <div>Please enter a whole number greater than 0</div>
    <br />

    // Textbox for user input
    @Html.TextBoxFor(m => m.Input)

    // Submit Button
    <input type="submit" value="Submit" />

    <br />
    @Html.DisplayFor(m => m.Output)
    <br />
    // Displays Entered data

    <div>You entered: @Html.DisplayFor(m => m.Result)  </div>
    <div>

    </div>




}
